.navbar
  background-color: #ffffff;

.navbar
	.logo
  	height: 3rem !important;
  	min-width: 3rem !important;
  	position: relative;
  	top: -6px;

.home
	.hero
		h1
			display: none;

.home
	.hero
		.description
			display: none;
			
.home
	img
		margin-bottom: 0px;

.home		
	.action
		margin-top: 0px;

.content
	blockquote
		font-size: 1rem !important;